* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  text-align: center;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.card-container {
  background-color: var(--Slate-300);
  max-width: 375px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--White);
  padding: var(--Spacing-200);
  border-radius: 20px;
  max-width: 320px;
}

.QR-code {
  width: 100%;
  border-radius: 10px;
}

.texts {
  padding: var(--Spacing-200) var(--Spacing-200) var(--Spacing-300)
    var(--Spacing-200);
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: var(--Slate-900);
  margin-bottom: 14px;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--Slate-500);
}

@media (width >= 376px) {
  .card-container {
    max-width: 1440px;
  }
}
